// Content partial


/**
 * Content Section
 */
 
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }
}